<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/v2")
    @Scripts.Render("~/js/v2")
</head>
<body>
    <style>
        #Jok.panel_open ~ #Game {
            margin-right: 300px;
        }

        #Game {
            position: relative;
            transition: 200ms;
            height: 500px;
        }

        #Player1 {
            position: absolute;
            top: 100px;
            left: 30%;
        }

        #Player2 {
            position: absolute;
            top: 100px;
            right: 30%;
        }

        #Player3 {
            position: absolute;
            bottom: 100px;
            right: 30%;
        }

        #Player4 {
            position: absolute;
            bottom: 100px;
            left: 30%;
        }
    </style>
    <div id="Game">
        <div id="Player1" class="jok_player" data-userid="32">
            <img src="http://play.jok.io/images/speakers2.png" class="music_speakers">
            <img class="avatar" src="https://jok.io/portal/avatar/~base_skin_01b~Clothes_14~Eyes_01~Mouth_02~Eyebrows_07~~Hair_03~Accessories_03~8587994621026700984" />
            <div class="nick">
                <div class="nick_inner">
                    <span>PlayerX</span>
                    <div class="bitting"></div>
                </div>
            </div>
            <div class="offline_title">Offline</div>
            <div class="wins"></div>
            <div class="added_points"></div>
            <div class="score"></div>
            <div class="progressbar"></div>
            <div class="chat_bubble">
                <div class="inner">HollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHolla</div>
            </div>
            <div class="ready"></div>
            <div class="music_player"></div>
            <div class="rate"></div>
            <div class="playing_music_channel">HITS</div>
        </div>
        <div id="Player2" class="jok_player invert offline">
            <img class="avatar" src="https://jok.io/portal/avatar/~base_skin_01b~Clothes_14~Eyes_01~Mouth_02~Eyebrows_07~~Hair_03~Accessories_03~8587994621026700984" />
            <div class="nick"><span>PlayerX</span></div>
            <div class="offline_title">Offline</div>
            <div class="wins"></div>
            <div class="added_points"></div>
            <div class="score"></div>
            <div class="progressbar"></div>
            <div class="chat_bubble"></div>
            <div class="ready"></div>
            <div class="music_player"></div>
            <div class="rate"></div>
        </div>
        <div id="Player3">
        </div>
        <div id="Player4">
        </div>
    </div>
    <script>
        JP.Init(12, 'asd');

        JP.on('ChatMessageSend', function (msg) {
            console.log('Message sent', msg);
        });

        JP.on('Ready', function () {

            JP.UI.SetPlayer('#Player3', 100, function () {
                $('#Player3').addClass('offline');
                $('#Player3').addClass('active');
            });

            JP.UI.SetPlayer('#Player4', 310820);

            JP.UI.ShowNotification('message', function (item) {
                item.html('Initialized!');
            })
        });
    </script>
</body>
</html>
