<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/v2")
    @Scripts.Render("~/js/v2")
</head>
<body>
    <style>
        #Jok.panel_open ~ #Game {
            margin-right: 300px;
        }

        #Game {
            position: relative;
            transition: 200ms;
            height: 500px;
        }

        #Player1 {
            position: absolute;
            top: 100px;
            left: 30%;
        }

        #Player2 {
            position: absolute;
            top: 100px;
            right: 30%;
        }

        #Player3 {
            position: absolute;
            bottom: 100px;
            right: 30%;
        }

        #Player4 {
            position: absolute;
            bottom: 100px;
            left: 30%;
        }

        #test {
            position: absolute;
            left: 50%;
        }
    </style>
    <div id="Game">
        <div id="Player1" class="jok_player" data-userid="32">
        </div>
        <div id="Player2" class="jok_player invert offline">
        </div>
        <div id="Player3">
        </div>
        <div id="Player4">
        </div>
        <div id="test">

        </div>

    </div>
    <script>
        JP.Init(12, 'asd');

        JP.on('SendChatMessage', function (msg) {
            console.log('Message sent', msg);
        });

        JP.on('Ready', function () {

            JP.UI.ShowNotification('invite_friend');

            JP.UI.SetPlayer('#Player3', 100, function () {
                $('#Player3').addClass('offline');
                $('#Player3').addClass('active');
            });

            JP.UI.SetPlayer('#Player4', 310820);

            JP.UI.ShowAds(true);
        });
    </script>
</body>
</html>
