/* Notification */
#Notification {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 340px;
    margin-left: -170px;
    min-height: 40px;
}

#Notification .item {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.27);
    color: rgba(255, 255, 255, 0.91);
    display: none;
}

#Notification .connecting {
}

#Notification .share_friends input {
    width: 260px;
    text-align: center;
    padding: 3px;
}

#Notification .share_friends .info_msg {
    margin-top: 5px;
    height: 10px;
    opacity: 0;
    font-size: 12px;
}
