

.jok_player {
    position: relative;
    min-height: 130px;
    width: 90px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.jok_player .avatar {
    height: 119px;
    position: relative;
    z-index: 1;
    width: 90px;
}

.jok_player .offline_title {
    display: none;
    padding: 4px 7px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 43px;
    right: 0px;
    color: #FFF;
    z-index: 10;
}

.jok_player .nick {
    position: relative;
    color: white;
    margin-right: -20px;
    margin-left: -20px;
    text-align: center;
    margin-top: 5px;
}



.jok_player .nick span {
    padding: 2px 7px;
    background-color: rgba(0, 0, 0, 0.298039);
    border-radius: 4px;
    min-width: 70px;
    display: inline-block;
    vertical-align: top;
}

.jok_player .nick .nick_inner {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.jok_player.active .nick .bitting {
    display: none;
}

.jok_player:hover .nick span {
    box-shadow: 0 0 5px gold;
}

.jok_player .wins {
    color: rgba(255,255,255,.66);
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    bottom: 24px;
    left: -20px;
}

.jok_player .added_points {
}


.jok_player .score {
}

.jok_player .progressbar {
}



.jok_player .chat_bubble {
    position: absolute;
    left: 110px;
    top: 0px;
    min-height: 60px;
    min-width: 110px;
    background: white;
    max-width: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
    display: none;
}

.jok_player .chat_bubble:before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 19px;
    bottom: auto;
    left: -20px;
    border-width: 15px 20px 0px 0;
    border-color: transparent #FFFFFF;
}

.jok_player .chat_bubble div.inner {
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 17px;
}

.jok_player .chat_bubble div.msg {
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    height: 52px;
    text-align: center;
}

.jok_player .buzz {
    position: absolute;
    top: 55px;
    font-size: 13px;
    cursor: pointer;
    width: 40px;
    height: 14px;
    right: -58px;
    font-family: Times New Roman;
    display: none;
}

.jok_player .ready {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 60px;
    z-index: 10;
    right: 0px;
    text-shadow: 0 0 5px yellow;
    display: none;
}

.jok_player .music_speakers {
    display: none;
    z-index: 1;
    position: absolute;
    top: -42px;
    left: 50%;
    margin-left: -56px;
    width: 110px;
}

.jok_player .rate {
}

.jok_player .playing_music_channel {
    position: absolute;
    top: 80px;
    padding: 3px 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    left: 5px;
    right: 5px;
    border-radius: 4px;
    opacity: .7;
    display: none;
    text-align: center;
}

.jok_player .playing_music_channel:hover {
    cursor: pointer;
    opacity: 1;
}






/*Active*/

.jok_player.active .nick .bitting {
    content: '';
    background: green;
    left: 0px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: .7;
    border-radius: 2px;
    -webkit-animation: BackgroundBitting 2s infinite; /* Safari 4+ */
    -moz-animation: BackgroundBitting 2s infinite; /* Fx 5+ */
    -o-animation: BackgroundBitting 2s infinite; /* Opera 12+ */
    animation: BackgroundBitting 2s infinite; /* IE 10+, Fx 29+ */
}


@-webkit-keyframes BackgroundBitting {
    50% {
        background: lime;
    }
}

@-moz-keyframes BackgroundBitting {
    50% {
        background: lime;
    }
}

@-o-keyframes BackgroundBitting {
    50% {
        background: lime;
    }
}

@keyframes BackgroundBitting {
    50% {
        background: lime;
    }
}






/*Offline*/

.jok_player.offline .avatar {
    opacity: .8;
}

.jok_player.offline .offline_title {
    display: block;
}



/*Invert*/

.jok_player.invert .wins {
    right: -20px;
    left: auto;
}

.jok_player.invert .chat_bubble {
    right: 110px;
    left: auto;
}

.jok_player.invert .chat_bubble:before {
    right: -20px;
    left: auto;
    border-width: 15px 0 0px 20px;
}


/*Ready*/
.jok_player.ready .ready {
    display: block;
}
