#SmilesBoxModal {
}

#SmilesBoxModal .smiles_container,
#SmilesBoxModal .vip_smiles_container {
    margin: 5px;
    margin-top: 0px;
    margin-left: 10px;
}

#SmilesBoxModal .vip_smiles_container .disabled {
}

#SmilesBoxModal .more,
#SmilesBoxModal .less {
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
}

#SmilesBoxModal .more:hover,
#SmilesBoxModal .less:hover {
    color: blue;
    text-decoration: underline;
}

#SmilesBoxModal .vip_smiles {
    display: none;
}

#SmilesBoxModal .item {
    padding-top: 14px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
}

#SmilesBoxModal .item:hover {
    border: 1px solid silver;
    border-radius: 100%;
    background: white;
}

#SmilesBoxModal .vip_smiles_container.disabled .item {
    cursor: default;
}

#SmilesBoxModal .vip_smiles_container.disabled .item span {
    background-image: url('/images/emotions_disabled.png');
    opacity: .6;
}

#SmilesBoxModal .vip_smiles_container.disabled .item:hover {
    border: 1px solid transparent;
    border-radius: 0px;
    background: transparent;
}

#SmilesBoxModal .headline {
    margin-bottom: 10px;
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

#SmilesBoxModal .headline.vip {
    margin-top: 20px;
    text-align: left;
    margin-left: 10px;
    color: #808080;
    font-size: 16px;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 10px 0px;
}

#SmilesBoxModal .headline span {
}
